<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <style type="text/css">
     p.captioned {
	 text-align: center;
     }
     
     .captioned em {
	 font-size: 0.6em;
     }
     
     .ToS {
	 text-align: right;
     }
     
     .input.highlighter-rouge pre {
	 background-color: #EBECE4;
     }

     .input.highlighter-rouge code {
	 background-color: transparent;
     }

     .output.highlighter-rouge pre {
	 background-color: #ECECC7;
     }

     .output.highlighter-rouge code {
	 background-color: transparent;
     }
    </style>
    
</head>
