<!DOCTYPE html>
<html lang="en">
    
    <head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }}</title>
	<meta name="description"
	      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ page.reveal }}/css/reveal.css">
	<link rel="stylesheet" href="{{ page.reveal }}/css/theme/sky.css" id="theme">
	
	<!--[if lt IE 9]>
            <script src="{{ page.reveal }}/lib/js/html5shiv.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="{{ site.styleurl }}/css/slideshow.css">	
	
    </head>
    
    <body>
	
	<div class="reveal">
      
	    <div class="slides">

		{{ content }}
	
	    </div>
      
	</div>

	<script src="{{ page.reveal }}/lib/js/head.min.js"></script>
	<script src="{{ page.reveal }}/js/reveal.js"></script>
	<script>
	 Reveal.initialize({

	     // Size
	     width: 1300,
	     height: 1200,
	     margin: 0.15,

	     // Transition
	     transition: 'default',

	     // Plugins
	     dependencies: [

		 // Zoom in and out with Alt+click
		 { src: '{{ page.reveal }}/plugin/zoom-js/zoom.js', async: true },

		 // Speaker notes
		 { src: '{{ page.reveal }}/plugin/notes/notes.js', async: true },

		 // MathJax
		 { src: '{{ page.reveal }}/plugin/math/math.js', async: true },
	     ],
	 });
	</script>
	
    </body>
    
</html>
